*{
    padding: 0;
    margin: 0;
}
html,
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#canvas {
    z-index: -999;
}
.clearfix::before{
    content: '';
    display: block;
    clear: both;
}

.model{
    position: absolute;
    border: 1px solid #888;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modeled{
    left: 0;
}
.model ul{
    list-style: none;
    float: left;
}

.model li{
    padding: 10px;
    height: 25px;
}
.model li input[type=text]{
    padding-left: 20px;
    width: 30px;
    height: 25px;
    border-radius: 5px;
    outline: none;
}
.model ul .color{
    display: inline-block;
    width: 50px;
    height: 21px;
    vertical-align: middle;
    background-color: rgba(144,238,144,0.7);
}
.model button{
    background-color: rgba(144,238,144,0.7);
    border: none;
    outline: none;
    padding: 5px 20px;
}
.showJs{
    position: absolute;
    right: 0;
    width: 800px;
    height: 100%;
    overflow-y: scroll;
    border-left:1px solid rgba(144,238,144,0.7);
}
.showJs::-webkit-scrollbar{
    display: none;
}